.about {
    background-color: var(--black);
    height: 100vh;
}


.about__info-cont {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.about__info {
    width: 40%;
    margin-left: 50px;
    color: white;
    font-family: var(--font-kanit);
    line-height: 2rem;
    font-size: 1.2rem;
}
.about__img {
    width: 300px;
    height: 300px;
    background-color: red;
    margin-left: 50px;
    display: block;
}
.about__img-info-cont {
    margin-left: 200px;
    position: relative;
}
.about__cv {
    height: 60px;
    width: 140px;
    align-self: flex-end;
    margin-left: -35%;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background-color: var(--dark-red);
    font-family: var(--font-seymour-one);
    cursor: pointer;
    border-color: white;
}
.about__stat {
    color: white;
    font-family: var(--font-kanit);
    line-height: 2rem;
    font-size: 1rem;
    margin-left: 200px;

}
.about__stat-name {
    font-weight: bold;
}


.about__card {
    display: inline-block;
    position: relative;
}

.card-percent {
    text-align: center;
    color: var(--dark-red);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-0%);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.07);

}

.about__card-prog1, .about__card-prog2 {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vw;
}

.about__card-prog1 {
    background-image: linear-gradient(to right, var(--red) 50%, var(--dark-brown) 50%);
    border: 1px solid var(--red);
}

.about__card-prog2 {
    background-image: linear-gradient(to right, var(--red) 50%, rgba(0,0,0,0) 50%);
    transform: rotate(-140deg);
    transition: 1000ms;
    box-shadow: 1px 1px 5px rgba(255, 0, 0, 0.59);
}
.about__card-prog-int {
    width: 120px;
    height: 120px;
    background-color: var(--black);
    border-radius: 100vw;
    border: 1px solid var(--red);
}

.card-items {
    width: 50px;
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-70%);
}
.card__items-img {
    height: 50px;
    width: 50px;
}
.about__linkcv {
    color: white;
}