.about {
    background-color: var(--black);
    height: 100vh;
}

.about__card {

}

.prog {
    width: 150px;
    height: 150px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vw;
}

.prog-int {
    width: 140px;
    height: 140px;
    background-color: var(--black);
    border-radius: 100vw;
}
