.about {
    background-color: var(--black);
    margin-bottom: 40px;
}


.about__info-cont {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    align-items: center;
}
.about__info {
    width: 60%;
    margin-left: 50px;
    color: white;
    font-family: var(--font-kanit);
    line-height: 2rem;
    font-size: 1.2rem;
}
.about__img {
    width: 300px;
    height: 300px;
    /* background-color: red; */
    margin-left: 50px;
    display: block;
    /* border: 3px solid green; */
    /* padding: 10px; */
    border-left: 3px solid var(--dark-red);
}
.about__img-info-cont {
    margin-left: 200px;
}
.about__cv {
    height: 60px;
    width: 140px;
    background-color: var(--black);
    margin-left: 100px;
    border-radius: 13px;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    font-family: var(--font-seymour-one);
    cursor: pointer;
    border: 2px solid white;
    align-self: center; 
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__cv:hover {
    transition: 100ms;
    background-color: var(--dark-brown);
}

.about__cv-icon {
    margin-right: 10px;
    width: 30px;
}
.about__cv-icon {
    fill: var(--black);
}

.about__stats {
    color: white;
    font-family: var(--font-kanit);
    line-height: 2rem;
    font-size: 1rem;
    margin-left: 200px;
}
.about__stats-container {
    display: flex;
}
.about__contacts {
    margin-top: 30px;
}
.about__stat-name {
    font-weight: bold;
}



.about__linkcv {
    color: white;
}

@media screen and (max-width: 1024px) {
    .about__info {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}


@media screen and (max-width: 768px) {
    .about__info {
        width: 100%;
        margin: 40px auto 0px auto;
        text-align: justify;
    }
    .about__img {
        margin-left: 0;
    }
    .about__info-cont {
        flex-direction: column;
    }

    .about__stats {
        flex-direction: column;
    }

    .about__stats-container {
        flex-direction: column;
        margin: auto;
    }

    .about__contacts {
        margin: 0;
        width: 100%;
        
    }
    .about__stats {
        margin-left: 0px;
        width: 80%;
        margin: 30px auto;

    }
    .about__cv {
        margin: 30px 0;
    }
}

@media screen and (max-width: 440px) {
    
}