:root {
    --dark-brown: #260f06; 
    --light-brown: #50352a; 
    --light-brown-hover: #6d220473; 
    --dark-red: #e70000; 
    --red: red;
    --light-grey: #7B868C; 
    --dark-grey: #3B3C40; 

    --black: #1d1414; 

    --font-seymour-one : 'Seymour One', sans-serif;
    --font-kanit : 'Kanit', sans-serif;
    --font-arvo: 'Arvo', serif; 
}

html {
    background-color: var(--black);
}

body {
    overflow-x: hidden;
}

.title__config {
    color: var(--dark-red); 
    font-family: var(--font-arvo);
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px;
    padding-left: 40px;
}

@media screen and (max-width: 440px) {
    .title__config {
        padding: 20px;
    }
}


/* esconder */
.header {
    /* display: none; */
}

.about {
    /* display: none; */
}

.tech {
    /* display: none; */
}

.exp {
    /* display: none; */
}


/* 
deletar exp e proj
*/

@media screen and (max-width: 900px) {
    nav {
        display: none;
    }
}