.exp {
    background-color: var(--black);
    /* min-height: 100vh; */
    font-family: var(--font-kanit);
    display: flex;
    flex-direction: column;

    /* display: none; */
}
.exp__cards {
    display: flex;
    max-width: 700px;
    align-self: center;
    margin-top: 40px;
}
.exp__card {
    color: white;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    cursor: default;
    margin-left: 30px;
    padding: 20px 10px;
    width: 200px;
    align-items: center;
    /* border: 1px solid white;
    border-radius: 20px; */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 100ms;
}
.exp__card:hover {
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 255, 0, 0, 0.17 );
    border: 1px solid rgba( 255, 0, 0, 0.58 );
    transform: scale(1.05);
    transition: 100ms;
}
.exp__company {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: var(--font-arvo);
    padding: 10px 0px;
}
.exp__func {
    font-weight: lighter;
}
.exp__data {
    padding: 10px 0px;
}

@media screen and (max-width: 1024px) {
    
}


@media screen and (max-width: 768px) {
    .exp__cards {
        flex-direction: column;
    }
    .exp__card:not(:first-child) {
        margin-top: 50px;
    }
}

@media screen and (max-width: 440px) {
    
}