.header {
    width: 100vw;
    border-bottom: 1px solid white;
}

.menu__navbar {
    transition: 200ms;

    display: flex;
    width: 70%;
    max-width: 800px;
    margin-top: 10px;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
    left: 50%;
    transform: translate(-50%);
    font-family: var(--font-seymour-one);
    cursor: pointer;

    padding: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
    
    background: rgba(255, 255, 255, 0.082);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
}
.menu__link {
    padding: 1rem;
}
.menu__link a {
    color: white;
    text-decoration: none;
}
.menu__link a:hover {
    color: lightseagreen;
}
.header__info {
    transition: 200ms;
    position: absolute;
    z-index: 3;
    margin-left: 100px;
    height: 70%;
    font-size: 1.5rem;
    line-height: 2rem;
    
    color: white;
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

}
.header__info-hello {
    font-family: var(--font-kanit);
}

.header__info-func {
    align-self: center;
    font-family: var(--font-kanit);
}
.header__icons {
    display: flex;
    margin: 20px;
    justify-content: center;
}
.header__icon {
    padding: 15px;
    border-radius: 30px;
    
    background: rgba(255, 255, 255, 0.082);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
}
.header__icon:first-child {
    margin-right: 20px;
}
.header__icon path {
    fill: white;
}
.header__icon:hover {
    background-color: brown;
    cursor: pointer;
    transform: scale(1.08); 
    transition: 100ms;
}


.header__background {
    background-color: var(--light-brown);
    display: flex;
    width: 100%;
}
.header__background-1 {
    width: 1000000px;
    /* max-width: 900px; */
    height: 70vh;
    transform: skewX(30deg);
    position: relative;
    left: -500px;
    background-color: var(--dark-brown);
}


.header__img-container {
    width: 400px;
    height: 300px;
    display: flex;
    background-image: url('../images/fundo\ marrom.png');
    background-position: center;
    background-size: contain;
    flex-direction: row;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    right: 200px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__img {
    background-image: url('../images/pexels-marta-branco-1194713.jpg');
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 300px;
    border: 1px solid white;
    position: relative;
    top: 10px;
    right: 10px;
}