.header {
    width: 100vw;
    height: 100vh;
    border-bottom: 1px solid white;
    background-image: url("../images/header__back.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}
.header__menu {
    margin-right: 50px;
    font-family: var(--font-kanit);
    font-weight: bold;
}
.menu__navbar {

    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}
.menu__link {
    padding: 1rem;
}
.menu__link a {
    color: white;
    text-decoration: none;
}
.menu__link a:hover {
    color: var(--dar);
}

.header__scrollToTopBtn {
    display: block;
    position: fixed;
    font-family: var(--font-kanit);
    bottom: 20px;
    right: 20px;
    background-color: var(--dark-brown);
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.header__info {
    transition: 200ms;
    position: absolute;
    z-index: 3;
    margin-left: 100px;
    height: 70%;
    font-size: 1.5rem;
    line-height: 2rem;
    
    color: white;
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

}
.header__info-hello {
    font-family: var(--font-kanit);
}

.header__info-func {
    align-self: center;
    font-family: var(--font-kanit);
}
.header__icons {
    display: flex;
    margin: 20px;
    justify-content: center;
}
.header__icon {
    padding: 15px;
    border-radius: 30px;
    
    background: rgba(255, 255, 255, 0.082);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);

    width: 40px;
    height: 40px;
}
.header__icon:first-child {
    margin-right: 20px;
}
.header__icon path {
    fill: white;
}
.header__icon:hover {
    background-color: brown;
    cursor: pointer;
    transform: scale(1.08); 
    transition: 100ms;
}


.header__background {
    background-color: var(--light-brown);
    display: flex;
    width: 100%;
}
.header__background-1 {
    width: 1000000px;
    /* max-width: 900px; */
    height: 70vh;
    transform: skewX(30deg);
    position: relative;
    left: -500px;
    background-color: var(--dark-brown);
}


.header__img-container {
    width: 400px;
    height: 300px;
    display: flex;
    background-image: url('../images/fundo\ marrom.png');
    background-position: center;
    background-size: contain;
    flex-direction: row;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    right: 200px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__img {
    background-image: url('../images/pexels-marta-branco-1194713.jpg');
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 300px;
    border: 1px solid white;
    position: relative;
    top: 10px;
    right: 10px;
}


@media screen and (max-width: 1024px) {
    .header__background-1 {
        left: -300px;
        /* background-color: red; */
    }
}


@media screen and (max-width: 768px) {
    .header__info-hello {
        font-size: 1.7rem;
        margin-left: 10%;
    }
    .header__info-name {
        font-size: 2rem;
        text-align: center;
    }
    .header__info-func {
        font-size: 1.3rem;
    }
    .header__info {
        width: 100vw;
        margin: 0;
    }
    .header__background-1 {
        left: -130px;
    }
}

@media screen and (max-width: 440px) {
    .header__info-hello {
        font-size: 1.3rem;
        
    }
    .header__info-name {
        font-size: 1.7rem;
    }
    .header__info-func {
        font-size: 1.2rem;
        
    }
    .header__icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 440px) {
    .header__info-hello {
        font-size: 1rem;
        
    }
    .header__info-name {
        font-size: 1.2rem;
        padding: 0;
    }
    .header__info-func {
        font-size: .8rem;
        
    }
}