.proj {
    background-color: var(--black);
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    font-family: var(--font-kanit);
}

.proj__cards {
    max-width: 1200px;
    width: 100%;
    align-self: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    justify-content: space-around;
    align-self: center;
}

.proj__card {
    width: 400px;
    transition: 100ms;
    border: 1px solid transparent;
    border-radius: 10px;
}
.proj__card:hover {
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    transform: scale(1.02);
}


.cards__group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.proj__card-title {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 30px;
}
.proj__image {
    width: 300px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.proj__resume {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 30px 10px 0px 10px;
    word-wrap: break-word;
    max-width: 300px;
    justify-self: center;
    margin-left: 38px;    
}

.proj__tech {
    padding-left: 50px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: var(--dark-red);
}

.proj__icons {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 30px auto 20px auto;
    align-items: center;
}

.proj__icon path {
    fill: white;
}

.proj__link:not(:last-child) {
    margin-right: 10px;
}


@media screen and (max-width: 768px) {
    .cards__group {
        flex-direction: column;
        margin: auto;
    }
    .proj__card {
        margin-bottom: 50px;
    }
    .proj__card:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .proj__card {
        width: 100%;
    }
}